
  /* Styling rules for elements  */

body {

  /* Typography */
  font-family: 'Catamaran', sans-serif;
  line-height: 150%;
  color:#1b1b1b;

}


h2 {

  /* Box-Model */
  margin-top:0;
  padding-bottom:0px;

  /* Typography */
  font-size: 30px;
  text-align: left; 
  
}


p {

  /* Typography */
  font-size:15.5px;
  text-align:justify;
  line-height:21px;

}


h3 {

  /* Box-Model */
  margin-top:5px;
  margin-bottom:20px;
  padding-left:0px;

  /* Typography */
  font-size:20px;
  text-align: left;
  text-decoration:underline
 
}


footer {
  
  /* Box-Model */
  max-height:55px;

  /* Typography */
  color:#faf9f8;
  
}

h4 {

  /* Box-Model */
  padding-left:110px;
  padding-top:6px;

  /* Typography */
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  color: #faf9f8;
  
}

/* The following rules apply to classes that exist in two or more pages of this project */

.nc-photo {
  
  /* Positioning */
  background-size:120%;
  background-repeat:no-repeat;
  background-position:center;
  min-width: 100%;
  min-height: 100%;
  position:fixed;
  
  /*Aesthetic */
  background-image: url("./assets/NC-Wall.JPG"); 
  opacity:.3;

}


.navbar {

  padding:0px,0px,0px,0px;
  
}
.navbar-brand {

  /* Box-Model */
  padding-top:10px;
  padding-left:110px;

  /* Typography */
  font-family: 'Baskervville', serif;
  font-size:50px;
  color:#faf9f8;
  
}


.navbar-nav {

  /* Box-Model */
  padding-right:100px;
  padding-top:20px;
  
}


.navbar-custom {

  /* Aesthetic */
  background-color: #1b1b1b;
  opacity:0.7;
  
}


.active {

  /* Box-Model */
  font-weight:bold;

}


.nav-item {

  /* Typography */
  font-size: 14px;
  color:#faf9f8;

}


.navbar-dark a {

  /* Typography */
  color: #faf9f8;  

}


.btn,
.btn a {

  /* Box-Model */
  padding-bottom:7px;
  padding-top:5px;
  
  /* Typography */
  font-family: 'Catamaran', sans-serif;
  font-size:14px;
  vertical-align: middle;
  color:#faf9f8;
  opacity:1;
  
}


.container {

  /* Box-model */
  width: 80%;
  padding-top:12px;
  
}


.row {

  /* Box-model */
  margin-top:20px;
  margin-bottom: 2px;
  padding-bottom:2px;

}

.section-row {
  
  /* Box-Model */
  padding-bottom:10px; 
  padding-top:20px;

  /* Aesthetic */
  border: solid 1px #1b1b1b;
  background-color:#faf9f8;
  opacity: 0.8;
   
}


.col-box {

  /* Box-Model */
  border: solid 1px #1b1b1b;
  padding-top: 5px;
  padding-bottom:0px;
  
  /* Aesthetic */
  background-color:#faf9f8;
  opacity: 0.7;

}



/* Styling rules exclusively for the "About Me" page are below */

.bio-image {

  /* Positioning */
  width: 183px;
  height: 183px;
  opacity:1;
  
}



/* Styling rules exclusively for the "Portfolio" page are below */

.col-md-3 a {

  /* Typography */
  color:#1b1b1b;
  text-decoration:underline;

}



/* Styling rules exclusively for the "Contact" page are below */

.contact-row {

  /* Box-Model */
  margin-bottom: 50px;

}

   
.contact-list,
.contact-list a,
.contact-list p {

  /* Box-Model */
  padding-top:0px;

  /* Typography */
  font-size:18px;
  text-align: center;
  color:#1b1b1b
}


.contact-list i {

  /* Box-Model */
  padding-top:15px;

  /* Typography */
  font-size:30px;
  
}



/* Footer styling rules are below for all pages */


.nav {

  /* Aesthetic */
  background-color: #1b1b1b;

}

.fixed-bottom,
.sticky-bottom {

  /* Positioning */
  height:35px;

}

.sticky-bottom {

  padding:0px, 0px, 0px, 0px;

}

.footer-nav {

  /* Box-Model */
  
  background-color:#1b1b1b;
  height:18px;
  margin-top:17px;

}

.navbar-index {

  /* Positioning */
  width:100%;
  position:fixed;
  bottom:0px;

}



/* This is a catch-all rule specificaly to override multiple other hover rules on 
  multiple pages in multiple built-in classes */

a:hover {

  /* Typography */
  color:#d37d61 !important; 
  font-weight:bolder !important;

}




/* Media Query */

@media only screen and (max-width:768px) {
  

  .bio-image {

    /* This corrects sizing and alignment concerns based off of standard tablet and some 
    phone landscape resolutions */

    /* Box-Model */
    width: 124px;
    height:124px;

  }


  .navbar-brand {

    /* This makes the font not appear center-aligned on lower-resolution screens, as well
    as reducing its size */

    /* Box-Model */
    padding-left:60px;

    /* Typography */
    font-size:40px;

  }


  .nc-photo {

    /* This provides an alternate photo that's in portrait orientation, which will still
    fill the background completely if used on mobile. */

    /* Aesthetics */
    background-image: url("./assets/durm.jpg");
    background-size: 150%;

  }


  h2 {


    /* Typography */
    font-size:24px;
    font-weight:bold;

  }

  h3 {
    
    /* Typography */
    font-size:18px;
  
  }
  
  .col-md-3 {

    /* Box-Model */
    margin-bottom:10px;

    /* Positioning */
    width:100%;

  }
  
  .col-box {
  
    /* Box-Model */
    margin-bottom:10px;

    /* Positioning */
    width: 100%;

  }

  .navbar-brand {

    /* Box-Model */
    padding-left:22px;

    /* Typography */
    font-size:30px;

  }

  .bio-image {

    /* Positioning */
    width: 124px;
    height:124px;

  }

  .contact-list a,
  .contact-list p {

    /* Typography */
    font-size:15px;

  }

  .contact-row {

    /* Box-Model */
    margin-bottom:50px;

  }


  .sticky-bottom {

    /* Positioning */
    height:55px;

  }

  .fixed-bottom {

    /* Positioning */
    height:55px;

  }

  .navbar-index {

    position:static;
  
  }


}


/* Other Media Query | This is the breakpoint for the Navbar Toggler and is undoing the
Box-Model and sizing rules I gave this class, to ensure the dark background covers the
entire menu */

@media only screen and (max-width:575px) {

  .footer-nav {

    /* Box-Model */
    height:inherit;
    margin-top: 0px;

  }

}




