/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the web page when you refresh in the browser.
*/


html {

  height:100%;

  }
  

body {
  
  /* Box-Model */
  margin: 0;
  padding: 0px;
  height:100%;
  width:auto !important;

  /* Typography */
  font-family: 'Catamaran', sans-serif;
  line-height: 150%;
  color:#1b1b1b;

}


h1 {
  
  /* Box-Model */
  margin: 10 0 10 0;
  
  /* Typography */
  font-family: 'Baskervville', serif;
  font-size: 40px;
  color: #faf9f8;
  text-align: center;
  opacity:0.9;

}

nav {
  position:absolute;
  z-index: 99;
}

a:hover {

  /* Typography */
  color:#a55d45 !important;

}

h2 {

  /* Box-Model */
  margin-top:0;
  border: solid 1px #1b1b1b;
  padding:5px;
  padding-bottom:0px;
  width:200px;
  
  /* Positioning */
  position:relative;
  right:15px;
  top:8px;
  

  /* Typography */
  font-size: 30px;
  text-align: left;

  /* Aesthetic */
  background-color:#faf9f8;
  opacity: 0.7;
  
}

p {

  /* Typography */
  font-size:15.5px;
  text-align:justify;
  line-height:21px;

}

footer {
  
  /*Box-Model */
  width:100%;
  height:30px;

  /* Positioning */
  position:fixed;
  bottom:0;
  left:0; 

  /* Typography */
  color:#faf9f8;

  /* Aesthetic */
  background-color:#1b1b1b;
  opacity:0.6;
}


.nc-photo {
  
  /* Positioning */
  background-size:120%;
  background-repeat:no-repeat;
  background-position:center;
  min-width: 100%;
  min-height: 100%;
  position:fixed;
  
  /*Aesthetic */
  background-image: url("./assets/NC-Wall.JPG"); 
  opacity:.3;

}





.navbar-dark {

  /* Aesthetic */
  opacity:0.6;
  
  
}

.h1-font {

  /* Box-Model */
  padding: 
  left 50%;

  /*Positioning */
  position:relative;
  left:9%;  

  /* Typography */
  font-size:50px;
  padding-top:15px;
  
}

.dropright {
  
  /* Box-Model */
  position:fixed;
  right:9%;
  
}

.dropdown-menu {

  /* Aesthetic */
  background-color:#faf9f8,1;
  color: #1b1b1b;
 
}

.dropdown-item {

  /* Typography */
  font-size:12px;

}

.btn {

  /* Box-Model */
  padding-bottom:5px;
  padding-top:5px;
  width:96px;
  height:30px;
  
  /* Typography */
  font-family: 'Catamaran', sans-serif;
  font-size:15px;
  vertical-align: middle;
  
}

.btn-link {
  color:#faf9f8;
  
}


.btn-current {

  /* Box-Model */
  width:150px;
  height:40px;

  /* Positioning */
  position:fixed;
  left:66%;
  top:3.5%;
  

  /* Typography */
  font-size: 25px;
  
}

.btn-prev {

  /* Positioning */
  position:fixed;
  left:78%;
  top:2.3%;

}

.btn-e-mail {

  /* Positioning */
  position:fixed;
  left:78%;
  top:6%;

}

.btn-linkedin {

  /* Positioning */
  position:fixed;
  right:8%;
  top:2.3%;

}

.btn-github {

  /* Positioning */
  position:fixed;
  top:6%;
  right:7.5%;
}

.github-nav {

  /* Box-Model */
  padding-right:30px;

}

.container {

  /* Box-model */
  width: 1024px;
  
}

.row-1 {

  /* Box-model */
  margin-top:20px;
  margin-bottom: 2px;
  padding-bottom:2px;
  
}
.bio-box {

  /* Box-Model */
  border: solid 1px #1b1b1b;
  padding-top: 20px;

  /* Aesthetic */
  background-color:#faf9f8;
  opacity: 0.7;
  
}

.footer-nav {

  /* Positioning */
  position: relative;
  bottom:38px;
  right:120px;

}

.footer-text {

  /* Positioning */
  position: relative;
  left:9.5%;
  top:20%;

  /* Typography */
  font-size: 14px;
  
}

.btn-footer {

  /* Box-Model */
  width:5%;
}

#bio-image {

  /* Box-model */
  width: 200px;
  height: 200px;
  margin-right: 20px;
  
}
